################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DatingApp/v15
/Angular
/DatingApp/bin
/DatingApp/obj/Debug
/packages
/DatingApp/Areas/HelpPage/Views
/DatingApp/Areas/HelpPage/SampleGeneration
/DatingApp/Areas/HelpPage/ModelDescriptions
